.count {
  width: 100px;
  border-radius: 10px;
  padding: 5px;
  margin: 20px auto;
  background-color: gray;
}

.btn {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 50%;
  border: 1px solid black;
  color: white;
  background-color: black;
}
.bg-red {
  background-color: red;
}
.bg-green {
  background-color: green;
}
.btn:hover {
  border: 1px solid white;
}